<div class="car-details d-flex w-75 justify-content-between">
  <mat-form-field>
    <mat-label>Brand</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div class="additional-details w-75 ">
  <mat-form-field class="w-100">
    <mat-label>Details about car | What do you need?</mat-label>
    <textarea style="resize: none;" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</div>
<div class="accept w-75">
  <mat-form-field class="only-number">
    <mat-label>Telephone</mat-label>
    <input type="tel" matInput placeholder="512-345-567" />
  </mat-form-field>
  <button mat-raised-button>Contact me</button>
</div>
